*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: #0A3871;
}
body{
    
    background-color: #F3F5FC;
}
.container{
    width: 100%;
    height: 90vh;
    padding: 30px;
}
.column1{
    width: 66.66%;
    height: 100%;
    margin: 20px 0;
    float: left;
}
.column2{
    width: 33.33%;
    height: 100%;
    margin: 20px 0;
    float: left;
    background-color: #fff;
    border-radius: 26px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
header{
    height: 10%;
}
main{
    height: 90%;
    padding: 10px;
    background: transparent;
}
aside{
    height: 100%;
    padding: 10px;
}
textarea{
    resize: none;
    border: none;
    padding: 30px;
    background-color: #fff;
    color: #0A3871;
}
.textarea-container{
    width: 95%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
textarea:focus{
    border: none;
    outline: none;
}
::placeholder {
    color: #0A3871;
    opacity: 1; 
  }
#ta-encript{
    width: 100%;
    height: 90%;
    background: transparent;
    font-size: 26px;
}
.btn-container{
    height: 10%;
    padding: 10px 5px;
}
#btn-encript, #btn-decript{
    width: 49%;
}
#btn-encript:active{
    background: transparent;
    color: #0A3871;
}
.btn:active{
    background-color: #0A3871;
    color: #fff;
}
#btn-encript{
    background-color: #0A3871;
    color: #fff;
}
#ta-decript{
    width: 100%;
    height: 91%;
    font-size: 18px;
}
#btn-copy{
    width: 100%;
}
.btn{
    color: #0A3871;
    background: transparent;
    padding: 0.5em;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
}
.msg-container{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.msg-container object{
    width: 100%;

}
.msg-container p{
    font-family: 'Inter','sans-serif';
    margin: 10px 0;
    text-align: center;
}
.bold{
    font-weight: bold;
    font-size: 20px;
}
footer{
    
    font-family: 'Inter', 'sans-serif';
    float: left;
    width: 100%;
    height: 10vh;
    position: relative;
}

footer  p{
    text-align: center;
    vertical-align: bottom;
    font-weight: bold;
}
.end-page{
    width: 100%;
    position: absolute;
    padding: 20px;
    top: 50%;
    transform: translateY(-50%);
    
}
svg{
    width: 20px;
    fill: #0A3871;
}
.hidden{
    display: none;
}






@media screen and (max-width: 768px) {
    .column1, .column2{
        width: 100%;
    }
    .msg-container object{
        display: none;
    }
    
}

@media screen and (max-width: 480px) {
    
    #ta-encript{
        height: 80%;
    }
    .btn-container{
        height: 19%;
    }
    #btn-encript, #btn-decript{
        width: 100%;
        margin: 3px 0;
    }
    
}